<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
    <script type="text/javascript"
                src="{{ url_for('static', filename='js/my_javascript.js') }}"></script>
    {% block head %} {% endblock %}
</head>

<body>

<script>
  function myFunction() {
    var txt;
    var request = new XMLHttpRequest()

    var email = email("Please enter your gcloud email:", "yourmail@example.com");
    if (email == null || email == "") {
      txt = "Please Enter a valid email";
    } else {
      request.open('GET', '/gcloudlogin', true)

    }
    //document.getElementById("demo").innerHTML = txt;
  }
</script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">GCP Deployment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Deployment <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/apicalls">API_Calls</a>
          </div>
          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-link">
                  {% if value is not none %}
                        <a href="/gcloudlogout"  style="color:whitesmoke">click to signout of {{value}}</a>
                      {% else %}
                        <a href="/gcloudlogin" style="color:whitesmoke" >Please click to sign in</a>
                      {% endif %}</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="container">
        {% block body %} {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>